#################
## Eclipse
#################
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#################
## Idea
#################
**/*.iml
.idea/

#################
## VSCode
#################
.vscode/
*.code-workspace

#################
## Vibe Coding
#################
AGENTS.md
.agents

#################
## Cursor
#################
.cursor/
.cursorrules
.cursorignore

#################
## Maven
#################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

#################
## Logger Files
#################
/dwarfeng-essentials-impl/logs/
/dwarfeng-essentials-node/dwarfeng-essentials-node-all-he/logs/
/dwarfeng-essentials-node/dwarfeng-essentials-node-minimal-he/logs/

#################
## Configuration Files
#################
/dwarfeng-essentials-impl/conf/
/dwarfeng-essentials-node/dwarfeng-essentials-node-all-he/conf/
/dwarfeng-essentials-node/dwarfeng-essentials-node-minimal-he/conf/

#################
## Libext Files
#################
/dwarfeng-essentials-node/dwarfeng-essentials-node-all-he/libext/
/dwarfeng-essentials-node/dwarfeng-essentials-node-minimal-he/libext/

#################
## Opt Files
#################
/dwarfeng-essentials-node/dwarfeng-essentials-node-all-he/opt/
/dwarfeng-essentials-node/dwarfeng-essentials-node-minimal-he/opt/

#################
## Optext Files
#################
/dwarfeng-essentials-node/dwarfeng-essentials-node-all-he/optext/
/dwarfeng-essentials-node/dwarfeng-essentials-node-minimal-he/optext/

#################
## Confext Files
#################
/dwarfeng-essentials-node/dwarfeng-essentials-node-all-he/confext/
/dwarfeng-essentials-node/dwarfeng-essentials-node-minimal-he/confext/

#################
## Temp Files
#################
/dwarfeng-essentials-impl/temp/
/dwarfeng-essentials-node/dwarfeng-essentials-node-all-he/temp/
/dwarfeng-essentials-node/dwarfeng-essentials-node-minimal-he/temp/
